
.DS_Store
Course4/03w/yad2k/models/__pycache__/keras_darknet19.cpython-36.pyc
Course4/03w/yad2k/models/__pycache__/keras_yolo.cpython-36.pyc
Course4/03w/model_data/yolo.h5
Course4/03w/yad2k/utils/__init__.py
Course4/03w/yad2k/utils/__pycache__/utils.cpython-36.pyc
Course4/04w/part2/pretrained-model/imagenet-vgg-verydeep-19.mat
Course5/c5w2p1/data/glove.6B.50d.txt
Course5/c5w2p2/data/glove.6B.50d.txt
Course5/c5w3p2/XY_train/X.npy
Course5/c5w3p2/XY_dev/X_dev.npy
